* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hide default scrollbar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: 0;
  padding: 10 0 0;
  margin: 5 5;
}

/* NavBar */
.navbar{
  display: flex;
  height: 34px;
  outline: 2px solid black;
}
.navbar a {
  display: flex;
  outline: 1px solid black;
  
  margin-top: .25rem;
  margin-bottom: .25rem;
  margin-left: .25rem;
  height: 100px;
  /*padding: 30% 5%;*/
  background-color: rgb(179, 121, 60);
}

/* Custom scrollbar track */
.hooty-scrollbar {
  position: fixed;
  right: 20px;
  top: 0;
  width: 60px;
  height: 100vh;
  pointer-events: none;
}

/* Hooty's stretchy body */
.hooty-body {
  position: absolute;
  top: 34px;
  left: 85%;
  height:0; 
  transform: translateX(-50%);
  width: 53px;
  border: 1px solid black;
  border-bottom: 0;
  border-top: 0;
  background-color: rgb(179, 121, 60); 
  background-repeat: repeat-y;
  
  /*transition: height 0.1s;*/
}

/* Hooty's head (the thumb) */
.hooty-head {
  position: absolute;
  left: 85%;
  transform: translateX(-50%);
  width: 60px;
}

.hooty-head img {
  width: 100%;
}

.test-scroll {
    height: 5000px;
    background: white;
}

.img-large {
  background-color: black;
  top:20%;
  height: 200px;
  width:200%;

}

#hooty-door{
  height: 100%;
  width: 100%;
}

